# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

import(zoo)
importFrom("graphics", "abline", "legend", "lines", "plot", "points")
importFrom("stats", "fft", "lowess")
